section.about
    .container 
        +blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis ex recusandae animi harum natus unde amet fuga quas, quibusdam adipisci aspernatur modi incidunt eaque deserunt quidem. Cum, maiores quibusdam.")
        .about-list
            +aboutItem({
                src: "./images/img-about1.png", 
                title: "Super Team", 
                icon: "fa fa-users"
            })
            +aboutItem({
                src: "./images/img-about2.png", 
                title: "Super Team", 
                icon: "fa fa-heart"
            })
            +aboutItem({
                src: "./images/img-about3.png", 
                title: "Super Team", 
                icon: "fa fa-home"
            })
