section.team 
    .container 
        +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nihil numquam fugit et. At mollitia maiores sed tenetur dolorem totam pariatur, veniam ipsam est obcaecati debitis? Dolores voluptatibus ipsa placeat?")
        .team-list 
            +teamItem("./images/img-team.jpg", "Matthew Dix", "Graphic Design")
                +teamSocial("#Matthew")
            +teamItem("./images/img-team2.jpg", "Christopher Cambell", "Branding/UX Team")
                +teamSocial("#christ")
            +teamItem("./images/img-team3.jpg", "Michael Fertig", "Developer")
                +teamSocial("#Michael")
section.brand 
    .container
        img(src="./images/img-logos.png" alt="brands")