section.work 
    .container 
        +blockBox("What we do", "Some of our work", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam aut repellat voluptate delectus eveniet esse doloremque a eum impedit necessitatibus numquam voluptas non id quidem dolorum, explicabo quasi molestias incidunt.")
    .work-grid
        +workItem
        +workItem("./images/img-work3.png")
        +workItem("./images/img-work2.png", "fa fa-cog", "Frontend developer")
        +workItem("./images/img-work4.png")
        +workItem("./images/img-work5.png", "fa fa-heart", "Super heart", "work-item--full")
        +workItem("./images/img-work6.png")
        +workItem("./images/img-work7.png")
    //- .work-list
    //-     .work-column
    //-         +workItem
    //-         +workItem("./images/img-work2.png", "fa fa-cog", "Frontend developer")
    //-     .work-column
    //-         +workItem("./images/img-work3.png")
    //-         +workItem("./images/img-work4.png")
    //-     .work-column
    //-         +workItem("./images/img-work5.png", "fa fa-heart", "Super heart", "work-item--full")
    //-     .work-column
    //-         +workItem("./images/img-work6.png")
    //-         +workItem("./images/img-work7.png")